* {
    font-family: 'Roboto', sans-serif;

}
$font-family-main: 'Shrikhand', sans-serif;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-grey: #333;


body {
    background-color: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
    margin: 0;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

