* {
    font-family: 'Roboto', sans-serif;

}


:root {
    --main-color: #9356DC;
    --main-bg-color: #FF79DA;
    --filter-bg-color: #99E2D0;
}

body {
    background-color: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
    margin: 0;

}