button {
    background: linear-gradient(to top, #9356DC, #FF79DA);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 4px 2px 8px black;
    font-size: 16px;
    margin-bottom: 50px;
    transition: var(--filter-bg-color) 0.3s ease;

}

.reservation button:hover {
filter: brightness(1.1);
background-color: rgba(147, 86, 220, 0.1);

}