* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  margin: 0;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-screen {
  position: fixed;
  inset: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: fadeOut 5s forwards;
          animation: fadeOut 5s forwards;
  z-index: 9999;
}
.loading-screen__loader {
  width: 120px;
  height: 120px;
  border: 8px solid #fff;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
.loading-screen__text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  -webkit-animation: blink 1.5s infinite;
          animation: blink 1.5s infinite;
}

.header {
  background-color: #fff;
  padding: 0.3rem;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.header__title {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.city-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  background-color: #EAEAEA;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.city-info p {
  font-weight: bold;
  color: #353535;
  font-size: 16px;
}
.city-info i {
  color: #353535;
  margin-right: 16px;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.reservation__content h2 {
  font-size: 24px;
}
.reservation__content p {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 30px;
}
.reservation__button button {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 4px 2px 8px black;
  font-size: 16px;
  margin-bottom: 50px;
  transition: #99E2D0 0.3s ease;
}
.reservation__button button:hover {
  filter: brightness(1.1);
  background-color: rgba(147, 86, 220, 0.1);
}

.fonctionnement {
  background-color: #fff;
  padding: 20px;
}
.fonctionnement__title {
  text-align: left;
  font-size: 18px;
}
.fonctionnement__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fonctionnement__list li {
  background-color: #F6F6F6;
  color: #000000;
  border: none;
  padding: 25px 50px;
  border-radius: 25px;
  box-shadow: 0px 2px 15px rgb(210, 210, 210);
  font-size: 16px;
  margin-bottom: 50px;
  list-style: none;
}
.fonctionnement__list span {
  position: relative;
  color: #fff;
  font-weight: bold;
  left: -4rem;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 0.3rem 0.6rem;
}
.fonctionnement__list i {
  color: grey;
  margin-right: 20px;
  font-size: 19px;
}
.fonctionnement__list .fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 0 30px 50px 30px;
  margin-top: 70px;
}
.restaurants__title {
  font-size: 26px;
}
.restaurants__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.restaurants__cards a {
  text-decoration: none;
  width: 100%;
  color: inherit;
}

.restaurant-card {
  width: 100%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}
.restaurant-card__top {
  position: relative;
}
.restaurant-card__top img {
  width: 100%;
  height: auto;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-card__tag {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 2px;
  top: 10px;
  right: 10px;
  font-weight: bold;
}
.restaurant-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant-card__content {
  margin-left: 15px;
}
.restaurant-card__content .restaurant-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.restaurant-card__content .restaurant-card__subtitle {
  margin-top: 0;
  font-size: 17px;
  font-weight: 300;
}
.restaurant-card__like-icon {
  display: flex;
  padding: 10px;
  margin-right: 35px;
  font-size: 40px;
}
.restaurant-card__like-icon .fa-heart {
  font-size: 30px;
  position: absolute;
}
.restaurant-card__like-icon .fa-solid {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.5s ease-in-out;
}
.restaurant-card__like-icon .fa-solid:hover {
  opacity: 1;
}

.footer {
  background-color: #353535;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.footer__column h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}
.footer__column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__column ul li {
  margin-bottom: 8px;
}
.footer__column a {
  color: white;
  text-decoration: none;
}
.footer__column:hover {
  text-decoration: underline;
}
.footer__column i {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .reservation__content h2 {
    font-size: 40px;
  }
  .reservation__content p {
    font-size: 18px;
  }
  .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
  }
  .fonctionnement__list li {
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    padding-left: 0;
  }
  .fonctionnement__list span {
    left: -1rem;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7%;
  }
  .footer__column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .footer__column ul {
    display: flex;
    gap: 20px;
    order: 1;
  }
  .footer__column h1 {
    order: 2;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list {
    margin: 0 12%;
  }
  .fonctionnement__title {
    margin: 0 12%;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .restaurants {
    margin: 0 10%;
  }
  .restaurants__cards {
    gap: 7%;
  }
}
/*# sourceMappingURL=style.css.map */